@charset "utf-8";

body {
  font-family: 'Droid Sans', sans-serif;
  color: #a29a8f; /* lightgray */
  background-color: #0d0d0d; /* black */
}

a {
  color: #e6bb2e; /* yellow */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  color: #f5efd9; /* white */
  font-weight: normal;
}

code {
  font-family: 'Courier New', Courier, monospace;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}
