@charset "utf-8";

body {
  font-family: 'Droid Sans', sans-serif;
  color: #a29a8f; /* lightgray */
  background-color: #0d0d0d; /* black */
}

a {
  color: #e6bb2e; /* yellow */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  color: #f5efd9; /* white */
  font-weight: normal;
}

code {
  font-family: 'Courier New', Courier, monospace;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

header > h1 {
  color: #f5efd9;
  font-variant: small-caps;
  margin-bottom: 25px;
}

hr {
  margin: 0 7% 0 7%;
  border: 0;
  border-top: 3px double #626262;
}

