@charset "utf-8";

body {
  font-family: 'Droid Sans', sans-serif;
  color: #a29a8f; /* lightgray */
  background-color: #0d0d0d; /* black */
}

a {
  color: #e6bb2e; /* yellow */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  color: #f5efd9; /* white */
  font-weight: normal;
}

code {
  font-family: 'Courier New', Courier, monospace;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

header > h1 {
  color: #f5efd9;
  font-variant: small-caps;
  margin-bottom: 25px;
}

hr {
  margin: 0 7% 0 7%;
  border: 0;
  border-top: 3px double #626262;
}

main {
  margin: 0 7% 7% 7%;
}

main > h2 {
  color: #f5efd9; /* white */
  margin-top: 2em;
}


/* Use hyphens as bullets */
main ul {
  list-style: none;
}
main ul li:before {
  content: '\2043'; /* hyphen bullet */
  margin: 0em 1em;
}



/* colorpalette */
ul#palette li {
  display: inline-block;
}

ul#palette li:before {
  content: '\25a0'; /* filled square */
  font-size: 170%;
  margin: 0em 0.7em;
}

/* border only  */
ul#palette li#black:before {
  content: '\25a1'; /* empty square */
  font-size: 170%;
}
ul#palette li#darkgray { color: #3f493e; }
ul#palette li#lightgray { color: #a29a8f; }
ul#palette li#white { color: #f5efd9; }
ul#palette li#red { color: #ab4645; }
ul#palette li#green { color: #8a9c48; }
ul#palette li#yellow { color: #e6bb2e; }
ul#palette li#blue { color: #557c9b; }
ul#palette li#magenta { color: #574376; }
ul#palette li#cyan { color: #42b1e6; }

